@font-face {
    font-family: "Open Sans";
    src: url("https://g1.nyt.com/fonts/css/web-fonts.5810def60210a2fa7d0848f37e3fa048bb6147b1.css");
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  html,
  body,
  .main,
  .nav1,
  .top-left-nav,
  .top-right-nav,
  .nav2,
  .bottom-left-nav1,
  .vav3,
  .fig,
  .bottom-left-nav,
  .right-icon,
  .text-box,
  .para-box,
  .under-price {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .bottom-left-nav1 a {
    color: gray;
  }

  .bottom-left-nav ul li a {
    color: gray;
  }
  
  .top-left-nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
  }

  .top-nav a:hover {
    background-color: silver;
    padding: 10px;
  }
  
  .nav1 {
    width: 100%;
    height: 30px;
    background-color: rgb(235, 201, 8);
  }

  .bottom-left-nav ul {
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 50px;
    color: gray;
  }
  
  .bottom-left-nav1 ul {
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: -10px;
    z-index: 11;
  }
  
  .top-right-nav ul {
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  
  .top-left-nav ul {
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    margin-top: 0;
  }

  .top-left-nav ul ul {
    top: 25px;
    background-color: black;
    z-index: 22;
    display: none;
  }

  .bottom-left-nav ul li {
    padding: 15px;
    list-style: none;
    color: gray;
  }
  
  .bottom-left-nav1 ul li {
    padding: 15px;
    list-style: none;
  }
  
  .top-right-nav ul li {
    padding: 10px;
    list-style: none;
  }
  
  .top-left-nav ul li {
    padding: 7px;
    list-style: none;
  }

  .top-left-nav ul ul li {
    margin-left: -10px;
  }

  .top-left-nav ul li:hover > ul {
    display: block;
    width: 200px;
    height: 100px;
  }

  .top-nav {
    background-color: black;
    height: 30px;
    color: white;
  }
  
  .top-left-nav {
    top: 0;
    left: 0;
    width: 800px;
  }
  
  .top-right-nav {
    top: 0;
    right: 0;
    width: 800px;
  }

  /* Second Navbar */

.nav2 {
    top: 30px;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    z-index: 9;
  }
  
  .bottom-left-nav1 {
    top: 0;
    left: 0;
    width: 800px;
  }
  
  .right-icon1 {
    right: 0;
    top: 0;
    padding-bottom: 10px;
    width: 800px;
  }
  
  .nav3 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    z-index: 8;
  }

  .bottom-left-nav {
    top: 0;
    left: 0;
    width: 800px;
  }