@font-face {
    font-family: "Open Sans";
    src: url("https://g1.nyt.com/fonts/css/web-fonts.5810def60210a2fa7d0848f37e3fa048bb6147b1.css");
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  html,
  body,
  .main,
  .nav1,
  .top-left-nav,
  .top-right-nav,
  .nav2,
  .bottom-left-nav1,
  .vav3,
  .fig,
  .bottom-left-nav,
  .right-icon,
  .text-box,
  .para-box,
  .under-price {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .bottom-left-nav1 a {
    color: gray;
  }

  .bottom-left-nav ul li a {
    color: gray;
  }
  
  .top-left-nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
