@font-face {
    font-family: "Open Sans";
    src: url("https://g1.nyt.com/fonts/css/web-fonts.5810def60210a2fa7d0848f37e3fa048bb6147b1.css");
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  html,
  body,
  .main,
  .nav1,
  .top-left-nav,
  .top-right-nav,
  .nav2,
  .bottom-left-nav1,
  .vav3,
  .fig,
  .bottom-left-nav,
  .right-icon,
  .text-box,
  .para-box,
  .under-price {
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .bottom-left-nav1 a {
    color: gray;
  }
  
  .popular-news-items-img-desc h3 a {
    text-decoration: none;
    color: white;
  }
  
  .bottom-left-nav ul li a {
    color: gray;
  }
  
  .top-left-nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  
  .top-nav a:hover {
    background-color: silver;
    padding: 10px;
  }
  
  .nav1 {
    width: 100%;
    height: 30px;
    background-color: rgb(235, 201, 8);
  }
  
  .right-icon li {
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0;
    padding: 20px;
    list-style: none;
  }
  
  .funding-right ul {
    display: flex;
  }
  
  .bottom-left-nav ul {
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 50px;
    color: gray;
  }
  
  .bottom-left-nav1 ul {
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: -10px;
    z-index: 11;
  }
  
  .top-right-nav ul {
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0;
  }
  
  .top-left-nav ul {
    display: flex;
    align-content: center;
    top: 0;
    left: 0;
    margin-top: 0;
  }
  
  .fig ul {
    background-color: black;
    top: 30px;
    display: none;
    color: white;
  }
  
  .right-icon li,
  .bottom-left-nav ul,
  .bottom-left-nav1 ul,
  .top-right-nav ul,
  .top-left-nav ul,
  .fig ul,
  .top-left-nav ul ul,
  .right-icon1 li,
  .top-left-nav,
  .top-right-nav,
  .nav2,
  .bottom-left-nav1,
  .right-icon1,
  .fig,
  .bottom-left-nav,
  .right-icon,
  .small-text1,
  .small-text3,
  .big-text2,
  .big-text3,
  .time1,
  .time2,
  .time3,
  .funding-right,
  .funding-image,
  .popular-news-items-img-desc,
  .popular-news-items-latest img,
  .half-img,
  .rotate-text {
    position: absolute;
  }
  
  .top-left-nav ul ul {
    top: 25px;
    background-color: black;
    z-index: 22;
    display: none;
  }
  
  .top-footer li {
    list-style: none;
    display: inline;
    padding-right: 15px;
    color: white;
  }
  
  .right-icon1 li {
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0;
    padding: 20px;
    list-style: none;
  }
  
  .funding-right ul li {
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
    list-style: none;
  }
  
  .bottom-left-nav ul li {
    padding: 15px;
    list-style: none;
    color: gray;
  }
  
  .bottom-left-nav1 ul li {
    padding: 15px;
    list-style: none;
  }
  
  .top-right-nav ul li {
    padding: 10px;
    list-style: none;
  }
  
  .top-left-nav ul li {
    padding: 7px;
    list-style: none;
  }
  
  .fig ul li {
    padding: 10px;
    padding-left: -20px;
    list-style: none;
  }
  
  .top-left-nav ul ul li {
    margin-left: -10px;
  }
  
  .popular-news-items div ul {
    margin: 0;
    padding: 10px;
  }
  
  .fig:hover > ul {
    display: block;
  }
  
  .top-left-nav ul li:hover > ul {
    display: block;
    width: 200px;
    height: 100px;
  }
  
  .popular-news-items div ul li {
    border-bottom: 1px solid #e6e0e0;
    padding: 13px 0 0 0;
    font-size: 12px;
    list-style: none;
  }
  
  .fig ul li:hover {
    background-color: gray;
    border-radius: 20%;
  }
  
  .top-nav {
    background-color: black;
    height: 30px;
    color: white;
  }
  
  .top-left-nav {
    top: 0;
    left: 0;
    width: 800px;
  }
  
  .top-right-nav {
    top: 0;
    right: 0;
    width: 800px;
  }
  
  /* Second Navbar */
  
  .nav2 {
    top: 30px;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    z-index: 9;
  }
  
  .bottom-left-nav1 {
    top: 0;
    left: 0;
    width: 800px;
  }
  
  .right-icon1 {
    right: 0;
    top: 0;
    padding-bottom: 10px;
    width: 800px;
  }
  
  .nav3 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    z-index: 8;
  }
  
  .fig {
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    color: black;
    margin: 0;
    padding: 0;
    background-color: black;
    z-index: 8;
  }
  
  .fig img {
    padding: 15px;
    width: 80px;
  }
  
  .bottom-left-nav {
    top: 0;
    left: 0;
    width: 800px;
  }
  
  .right-icon {
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 800px;
  }
  
  .fig1,
  .right-icon .menu-icon11 {
    display: none;
  }
  

  @media (max-width: 1023.99px) {
    .bottom-nav1 .bottom-left-nav1 {
      margin-left: 60px;
    }
  
    .top-left-nav ul {
      padding-left: 100px;
    }
  
    .fig1 {
      display: block;
    }
  
    .fig img {
      padding-bottom: 60px;
      margin-top: -15px;
    }
  
    .nav3 .fig img {
      padding-top: 25px;
    }
  }

  @media (max-width: 784px) {
    .top-right-nav {
      display: none;
    }
  }